<%- include('../components/navbar', { navs }) %>
<h1>Halo <%= username %></h1>
<ul>
  <% events.forEach(x => { %>
  <li><%- x %></li>
  <% }); %>
</ul>
<form method="post" action="/auth/logout">
  <input type="submit" value="log out"/>
</form>
