<%- include('../components/header') %>

<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column gap-2">
  <% if (message?.length) { %>
    <p class="border border-danger p-2"><%= message %></p>
  <% } %>
    <div class="border border-dark p-5 m-auto">
      <form method="post" action="forgot-password">
      <h1 class="text-center">Lupa password ?</h1>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" required/>
        </div>
        <button type="submit" class="btn btn-primary w-100">kirim login link</button>
    </div>
    <p class="text-center border border-dark p-2"><span>Sudah ingat ? <span/><a class="text-decoration-none" href="/auth/login">kembali ke login</a></p>
  </div>
</div>

<%- include('../components/footer') %>
