<div class="container">
  <div>
    <h1><%= message %></h1>
    <h1 style="text-align: center;">Masuk</h1>

    <form method="post" action="forgot-password">
      <p>
        <label for="email">Email:</label>
        <input type="email" name="email" required/>
      </p>
      <p>
        <input type="submit" id="button"/>
      </p>
    </form>

    <p><a href="/auth/login">kembali ke halaman login</a></p>
  </div>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
