<%- include('../components/header') %>

<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column gap-2">
  <% if (message?.length) { %>
    <p class="border border-danger p-2"><%= message %></p>
  <% } %>
    <div class="border border-dark p-5 m-auto">
      <form method="post" action="register?admin=">
      <h1 class="text-center">Masukan kata sandi untuk menjadi admin</h1>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" required/>
        </div>
        <button type="submit" class="btn btn-primary w-100">Regristasi</button>
      </form>
    </div>
  </div>
</div>

<%- include('../components/footer') %>
