<%- include('../components/header') %>

<div class="container">
  <div>

    <h1><%= message %></h1>

    <h1 style="text-align: center;">Registrasi</h1>

    <form method="post" action="register">
      <p>
        <label for="name">Name:</label>
        <input type="text" name="name" required/>
      </p>
      <p>
        <label for="email">Email:</label>
        <input type="email" name="email" required/>
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" name="password" required/>
      </p>
      <p>
        <label for="admin">Admin:</label>
        <input type="checkbox" name="admin"/>
      </p>
      <p>
        <input type="submit"/>
      </p>
    </form>

    <p><a href="/auth/login">atau login</a></p>
  </div>
</div>

<%- include('../components/footer') %>
