<div class="container">
  <div>
    <h1><%= message %></h1>
    <h1 style="text-align: center;">Masukan kata sandi baru</h1>

    <%- formMethod %>
      <p>
        <label for="password">Password:</label>
        <input type="password" name="password" required/>
      </p>
      <p>
        <input type="submit" id="button"/>
      </p>
    </form>
  </div>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
